@font-face {
    font-family: 'Crucial';
    src: url('fonts/Crucial-Medium.otf');
    src:
        local('Crucial'),
        local('Crucial'),
        url('fonts/Crucial-Medium.otf') format('opentype');
}
.container {
    width: 1140px;
}
@media only screen and (min-width: 360px) and (max-width: 995px) {
    .container {
        width: 483px;
    }
    .section2-container-1 .row{
        width: 483px !important;
    }
}
/* navbar start */
.buy-now-button{
    text-decoration: none;
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;

    padding: 15px 40px;
    gap: 10px;
    width: 158px;
    height: 51px;
    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%);
}
.buy-now-button:hover{
    color: white;
    background: linear-gradient(90deg, #B627DC 0%, #FF007D 100%);
}

.add-to-cart-button{
    text-decoration: none;
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%);
    border: 1px solid !important;
    border-image: linear-gradient(to right, #FF007D, #B627DC) 1 !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    padding: 15px 40px;
    margin-left: 30px;
    width: 178px;
    height: 51px;
}
.add-to-cart-button:hover{
    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%) !important;
    -webkit-text-fill-color: white;
}

.menu {
    padding: 0px;
    gap: 40px;
}

.nav-links {
    width: 51px;
    height: 19px;

    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500 !important;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.045em;
    color: #000000;
}

.nav-logo {
    width: 124px !important;
    height: 39.83px !important;
}
.nav-links:hover{
    text-decoration: underline !important;
    color: #000000;
}
.sign-up-button{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    /* G2 */

    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%);
    border-width: 1px;
    border-image: linear-gradient(to right, #FF007D, #B627DC) 1 !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    width: 144px;
    height: 41px;
}
.sign-up-button:hover{
    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%) !important;
    -webkit-text-fill-color: white;
}
/* navbar end */

/* Breadcrumb secion start */
.breadcrumb{ 
    width: 100%;
    height: 288px;
    left: 0px;
    top: 141px;
    background: #380F28;
}
svg{
    position: absolute;
    filter: brightness(120%);
}
.breadcrumb h1{ 
    display: block !important;
    letter-spacing: 0em;
    text-align: left;
    height: 56px; 
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    z-index: 1;
}
.bct{
    z-index: 1;
}
.breadcrumb p{
    font-family: 'Montserrat' !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}
/* Breadcrumb secion end */

/* get in touch start */
.get-in-touch h1{
    width: 286px;
    height: 112px;

    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 24px !important;
}
.get-in-touch p{
    width: 357px;
    height: 24px;
    margin-bottom: 80px !important;
    /* Paragraph */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
}
.get-in-touch{
    background-color: #FAFAFA;
    padding: 129px 0 !important;
}
.get-in-touch-form button{
    float: right;
    margin-top: 50px;
}
table{
    width: 340px;
    height: 64px;
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #000000 !important;
}
table td{
    padding-bottom: 40px !important;
}
table td i{
    font-size: 32px;
}

.get-in-touch-form .col-md-6 label{
    font-size: 12px;
}
.get-in-touch-form .col-md-6 input::placeholder{
    font-size: 15px;
}
.get-in-touch-form .col-md-6{
    margin-bottom: 40px !important;
}

.form-box{
    width: 657px;
    padding: 48px;
    box-shadow: 20px 20px 50px 0px #0000000F;
    border-radius: 10px;
}
textarea{
    height: 248px;
}

.social-links{
    margin-top: 60px;
    margin-left: 0px !important;
}
.social-links i{
    color: #000000;
    font-size: 15px;
    margin-right: 18px !important;
}
/* get in touch end */

/* footer */
.footer{
    background-color: #F2F2F2; 
}
.footer .container{
    padding: 98px 0px;
}
.footer .footer-nav-logo{
    width: 155px;
    height: 50px;
    margin-bottom: 30px;
}
.footer .about{
    margin-bottom: 40px;
}
.footer .footer-heading{
    font-family: 'Crucial' !important;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    margin-bottom: 24px;
}

.footer .link-section{
    padding-left: 130px;
    justify-content: center;
    font-family: 'Crucial' !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.footer .contact-section{ 
    justify-content: center;
    font-family: 'Crucial' !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.footer ul li{
    margin-bottom: 17px;
}
.footer ul li a{
    text-decoration: none;
    color: #000000;
}
.footer-gallery img{
    height: 180px;
    width: 130px;
    border-radius: 0px;
}
.footer-gallery .gimg1{
    float: left;
}
.footer-gallery .gimg2{
    margin-left: -75px;
    margin-top: 58px;
}
/* footer */

/* footer nav */
.footer-nav{
    font-family: 'Crucial' !important;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    
    padding: 9px 0px;
    gap: 8px; 
    height: 32px;
    background: #380F28;
}
.footer-nav a{
    font-family: 'Crucial' !important;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 30px;
}
/* footer nav */

.form-control:focus{
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid #FF007D !important;
}

/* section 1 */
.section1{
    width: 100%;
    height: 800px;
    left: 0px; 
    background-color: #380F28;
    background-image: url(images/frame.png);
    background-repeat: no-repeat;
    background-position-x: right;
    overflow: hidden;
}

.section1 .headings1{
    width: 562px;
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 63px !important;
}
.section1-content {
    height: 800px;
}

.start-selling-link{
    color: #F2F2F2;
    text-decoration: none;
    padding: 15px 40px !important;

    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%);
    border: 1px solid;
    border-image: linear-gradient(to right, #FF007D, #B627DC) 1 !important;
    margin-right: 50px;
}
.start-selling-link:hover{
    color: #F2F2F2;
    background: linear-gradient(90deg, #B627DC 0%, #FF007D 100%);
    border: 1px solid;
    border-image: linear-gradient(to right, #B627DC, #FF007D) 1 !important;
}

.total-artist{
    margin-top: 60px !important;
}
.total-artist img{
    margin-right: -15px !important;
}
.total-artist small{
    color: white;
    font-size: 11px;
    margin-left: 25px !important;
}

.art-demo{
    height: 351px;
    width: 231px;
    margin-bottom: 26px !important;
}
.art-demo-container img{
    width: 480px;
    height: 800px;
}
.second-col{
    margin-top: 95px;
}
/* section 1 */

/* section 2 */
.section2 .section2-container-1{
    margin: 50px auto !important;
}

.section2 .section2-container-1 img{
    width: 296.26px;
    height: 362px;
    filter: drop-shadow(-10px 10px 30px rgba(0, 0, 0, 0.1));
}
.section2 .section2-container-1 .col-md-4{
    padding: 0;
    width: 367px;
    height: 440px;
    margin-bottom: 50px;
}
.section2 .section2-container-1 .col-md-4:nth-child(1){
    background: #6DC700 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2 .section2-container-1 .col-md-4:nth-child(2){
    background: #FF6DC5 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2 .section2-container-1 .col-md-4:nth-child(3){
    background: #4A00C7 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2-container-2 h2, .section2-container-3 h2 {
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
} 
.section-heading{
    margin-bottom: 64px;
}
.section2-container-2 .painting img{
    height: 442px;
    margin-bottom: 24px;

    box-shadow: inset 0px 0px 0px 3px #000000, inset 0px 0px 0px 15px #FFFFFF;
    filter: drop-shadow(-10px 10px 30px rgba(0, 0, 0, 0.1));
}
.section2-container-2 .row{
    gap: 24px;
}
.section2-container-2 .col-xl-4{
    width: 347px !important;
}
.section2-container-2 .col-lg-4{
    overflow: hidden;
    width: 347px !important;
    height: auto;
}

.section2-container-2 .painting h3{
    font-size: 24px;
    height: 64px !important;
    margin-bottom: 24px !important;
}
.section2-container-2 .painting p{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 24px;

    margin-bottom: 24px !important;
}
.section2-container-2 small {
    font-family: 'Montserrat';
    width: 140px;
    font-size: 18px;
}
.section2-container-2 small:hover {
    text-decoration: underline;
}
.section2-container-2 a {
    text-decoration: none;
    color: #000000;

    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.buy-now{
    margin-bottom: 66px;
}
/* section 2 */

/* section 3 */
.section2-container-3{
    margin-bottom: 96px;
    height: 407.3px;
}
.section2-container-3 .artist-loop img{
    width: 247.3px;
    background: url(.png);
    border: 10px solid #FFFFFF;
    filter: drop-shadow(-5px 5px 30px rgba(0, 0, 0, 0.1));
    border-radius: 30px;
    margin-bottom: 24px;
}
.section2-container-3 p{
    text-align: center;
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
}
.cta-section{
    margin-bottom: 96px;
}
.cta-section{
    height: 449px;
    background-image: url(images/CTA.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;

    filter: drop-shadow(-10px 10px 50px #0000001a);
    border-radius: 20px;
}
.cta-section h1{
    width: 473px; 
    font-family: 'Crucial';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 48px;
}
.cta-section p{
    color: white !important;
}

/* section 3 */

/* section 4 */
.blog-site{
    margin-bottom: 96px;
}
.blog-site h1{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
}

.blog-site .author{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-top: 16px !important;
}
.blog-site .title{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
    margin-top: 16px !important;
}

.blog-site .description{
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px !important;
}
/* section 4 */

/* paintings */
.search-breadcrumb{
    margin-bottom: 124px !important;
}
.search-breadcrumb .breadcrumb{
    background-image: url(images/search-breadcrumb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin: 0px auto !important;
}
.search-breadcrumb .breadcrumb h1{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px; 

    margin: 115px auto !important;
    text-align: center !important;
}
.search-breadcrumb .breadcrumb .input-group button{
    border-radius: 20px;
    background-color: white;
}
.search-breadcrumb .breadcrumb .form-control{
    border-right: 0px !important;
}
.search-breadcrumb .breadcrumb .form-control:focus button{
        transition: 0.3s ease-in-out;
        border-bottom: 2px solid #FF007D !important;
}
.search-breadcrumb .breadcrumb .input-group{
    height: 56px;
    width: 450px;
    background: #FFFFFF;
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.17);
    border-radius: 20px;
    margin-top: -25px;
}
.search-breadcrumb .breadcrumb input{
    border-radius: 20px;
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    padding-left: 30px !important;
}

/* paintings */

/* artist  section */
.become-an-artist{
    height: 99px;
    border: 3px solid;
    border-image: linear-gradient(to right, #FF007D, #B627DC) 1 !important;
    margin-bottom: 96px;
}
.become-an-artist div{
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.become-an-artist h1{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */


    /* G2 */

    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.become-an-artist-link{
    text-decoration: none;
    
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    
    color: white;
    padding: 15px 40px;
    gap: 10px;
    width: 252px;
    height: 49px;
    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%);
}
.become-an-artist-link:hover{
    color: white;
    background: linear-gradient(90deg, #B627DC 0%, #FF007D 100%);
}
.artist .col-md-3{
    margin-bottom: 96px;
}
/* artist  section */

/* about section */
.about-breadcumb .breadcrumb{
    height: 656px !important;
    background-image: url(images/search-breadcrumb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px auto !important;
}

.about-breadcumb p{
    width: 665px;
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}
.about-breadcumb h1{
    font-family: 'Crucial';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;

    color: #FFFFFF;
}
.quoted-by{
    margin-top: 75px;
}

.about-section1{
    margin: 96px auto !important;
}
.about-section1 .title{
    font-family: 'Source Sans Pro' !important;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px; 

    letter-spacing: 0.06em;
    text-transform: uppercase;

    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 24px;
}
.about-section1 h1{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 32px;
}
.about-section1 .details{
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.about-section1 img{
    height: 100%;
}
.about-section1 .social-links i{
    font-size: 26px !important;
}
/* about section */

/* view product */
.product-section1 .content{
    margin: 96px auto !important;
    height: auto;
}
.product-section1 p{
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    
    letter-spacing: 0.05em;
    color: #000000;
    
    margin-bottom: 16px;
}
.product-section1 .title img{
    margin-left: 20px;
}

.product-section1 h1{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 80px;
    width: 460px;
    text-transform: capitalize;
    color: #000000;
}
.product-section1 h2{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
.product-section1 h2{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
.product-section1 .art #main-image{
    padding: 15px;
    border: 3px solid black;
    filter: drop-shadow(-16.1383px 16.1383px 48.415px rgba(0, 0, 0, 0.1));
    width: 500px;
    height: 600px;
}



.product-section2 .photos-section{
    height: auto;
    padding-top: 96px !important; 
    padding-bottom: 96px !important; 
}
.product-section2 .details-section{
    padding-top: 96px !important; 
    height: auto;
}
.product-section2 .about-paint-section{
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;

    padding-top: 96px !important;  
}

.product-section2 h1{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #000000;
}
.product-section2 .photos-section a{
    width: 100%;
    margin-left: 10px;
}
.product-section2 .photos-section img{
    width: 100%; 
    height: 175px;
}

.thumbnails {
    height: 100px;
    width: 100px;
}

.thumbnails:focus img{
    filter: opacity(50%);
    border: 1px solid;
}

.product-section2 .details-section ol{
    list-style-type: disc;
}

.product-section2 .about-section {
    padding-top: 96px !important;
    padding-bottom: 96px !important;
}
.product-section2 .about-section .headings{
    padding: 60px;
}
.product-section2 .about-section .description{
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 60px !important;
}
    
.product-section2 .about-section .description p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 50px !important;
}
.product-section2 .about-section .description a{
    text-decoration: none;
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #D14D9D;
}
.product-section2 .about-section .description a:hover{
    color: #831858;
}
.product-section2 .about-section .headings h1{
    font-family: 'Crucial';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px; 
    color: #000000;
}
.product-section2 .about-section .headings .info{
    margin-left: 32px;
}
.product-section2 .about-section .headings p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #FF6DC5;
}
.product-section2 .about-section img{
    width: 124px !important;
    height: 124px !important;
    margin-left: 0px !important;
}

.product-section3{
    margin-top: 96px;
    margin-bottom: 30px;
}
/* view product */


/* media query */
@media only screen and (min-width: 995px) and (max-width: 2400px) {
    .navbar {
        height: 141px;
    }
    .section2 .section2-container-1 {
        margin: 96px auto !important;
    }

    .section2 .col-md-4 {
        margin-bottom: auto !important;
    }
    .cta-section .row {
        margin-left: 96px;
    }

    .cta-section h1 {
        text-align: left;
    }

    .cta-section p {
        color: #000000 !important;
    }
}

@media only screen and (min-width: 995px) and (max-width: 1200px) {
    .section2 .section2-container-1 .col-md-4:nth-child(1) img {
        width: 229px;
        background: #6DC700 !important;
    }

    .section2 .section2-container-1 .col-md-4:nth-child(2) img {
        width: 229px;
        background: #FF6DC5 !important;
    }

    .section2 .section2-container-1 .col-md-4:nth-child(3) img {
        width: 229px;
        background: #4A00C7 !important;
    }

    .section2 .section2-container-1 img {
        width: 229px;
        height: 295px;
        filter: drop-shadow(-10px 10px 30px rgba(0, 0, 0, 0.1));
    }

    .section2 .section2-container-1 .col-md-4 {
        width: 300px;
        height: 373px;
        margin-bottom: 50px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 365px) {
    .section2-container-2 .col-lg-4 h3 {
        font-size: 18px !important;
    }
}
@media only screen and (min-width: 200px) and (max-width: 490px) {
    .section1 {
        width: fit-content;
    }
}
@media only screen and (min-width: 668px) and (max-width: 995px) {
    .art-demo-container img {
        width: -webkit-fill-available;
        height: auto;
    }
    .section1 {
        height: auto;
    }
    .section1 h1{
        font-size: 20px !important;
        line-height: inherit !important;
    }
}
@media only screen and (min-width: 360px) and (max-width: 995px) {
    /* home page */
    .section1 {
        background-image: url(images/frame.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        overflow: hidden;
    }
    .art-demo-container img {
        width: 300px;
        height: 100%;
    }
    .section2 .section2-container-1 .col-md-4:nth-child(1) img {
        background: #6DC700 !important;
    }

    .section2 .section2-container-1 .col-md-4:nth-child(2) img {
        background: #FF6DC5 !important;
    }

    .section2 .section2-container-1 .col-md-4:nth-child(3) img {
        background: #4A00C7 !important;
    }
    .section2 .section2-container-1 img {
        width: 100px;
        height: auto;
    }
    .section2 .section2-container-1 .col-md-4 {
        width: 150px;
        height: 180px;
        margin-bottom: 50px;
    }

    .buy-now {
        margin: 0 !important;
    }

    .section2-container-2 {
        margin-bottom: 96px;
    }
    .section2-container-2 .painting h3 {
        height: 60px !important;
        font-size: 18px;
    }

    .art-demo{
        height: auto;
        width: 150px;
    }
    .first-col{
        margin-top: 20px;
    }
    .second-col{
        margin: auto;
    }
    .section1 .headings1 {
        width: auto;
        font-size: 25px;
        margin-top: 20px !important;
        margin-bottom: auto !important;
    }
    .section1-content{
        height: auto;
    }
    .art-demo-container{
        margin-top: auto;
    }
    .start-selling-link{
        padding: 15px !important;
    }
    .cta-section{
        height: 300px;
    }
    .cta-section h1{
        font-size: 30px;
        width: 400px;
    }
    .cta-section .start-selling-link{
        margin-right: 5px;
    }
    /* home page */

    /* painting page */
    .section2-container-2 .painting img {
        height: auto;
    }
    .section2-container-2 .col-lg-4{
        width: min-content !important;
    }
    .section2-container-2 .col-lg-4 h3{
        height: auto !important;
        font-size: 18px;
    }
    .section2-container-2 .col-xl-4 {
        width: 200px !important;
    }
    .search-breadcrumb{
        margin-bottom: 30px !important;
    }
    .search-breadcrumb .breadcrumb h1{
        margin: 0px auto 30px auto !important;
    }
    .search-breadcrumb .breadcrumb .input-group{
        width: 333px !important;
    }
    /* painting page */

    .footer .link-section {
        padding-left: inherit !important;
    }

    .footer .contact-section {
        padding-left: inherit !important;
    }

    .social-links {
        padding-left: 8px !important;
    }

    .product-section1 .art #main-image {
        width: 100%;
    }

    .product-section2 img{
        width: 100% !important;
        margin: auto;
    }
    .about-breadcumb .about-quote, .about-breadcumb .about-quote p {
        font-size: 25px !important;
        width: auto !important;
        padding: 10px !important;
    }
    .about-breadcumb .about-quote img{
        width: 50px;
    }
    .about-breadcumb .about-quote h1{
        font-size: 35px;
    }
    .about-section1 h1{
        font-size: 30px !important;
    }
    /* footer section */
    .footer .container{
        background-color: #F2F2F2; 
    }
    /* footer section */
}
/* media query */