/* navbar start */
@media only screen and (min-width: 995px) and (max-width: 2400px) {
    .navbar{
        height: 141px;
    }
}
.menu {
    padding: 0px;
    gap: 40px;
}

.nav-links {
    width: 51px;
    height: 19px;

    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500 !important;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.045em;
    color: #000000;
}

.nav-logo {
    width: 124px !important;
    height: 39.83px !important;
}
.nav-links:hover{
    text-decoration: underline !important;
    color: #000000;
}
.sign-up-button{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    /* G2 */

    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%);
    border-width: 1px;
    border-image: linear-gradient(to right, #FF007D, #B627DC) 1 !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    width: 144px;
    height: 41px;
}
.sign-up-button:hover{
    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%) !important;
    -webkit-text-fill-color: white;
}
/* navbar end */

/* Breadcrumb secion start */
.breadcrumb{ 
    width: 100%;
    height: 288px;
    left: 0px;
    top: 141px;
    background: #380F28;
}
svg{
    position: absolute;
    filter: brightness(120%);
}
.breadcrumb h1{ 
    display: block !important;
    letter-spacing: 0em;
    text-align: left;
    height: 56px; 
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    z-index: 1;
}
.bct{
    z-index: 1;
}
.breadcrumb p{
    font-family: 'Montserrat' !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}
/* Breadcrumb secion end */

/* get in touch start */
.get-in-touch h1{
    width: 286px;
    height: 112px;

    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 24px !important;
}
.get-in-touch p{
    width: 357px;
    height: 24px;
    margin-bottom: 80px !important;
    /* Paragraph */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
}
.get-in-touch{
    background-color: #FAFAFA;
    padding: 129px 0 !important;
}
.get-in-touch-form button{
    float: right;
    margin-top: 50px;
}
table{
    width: 340px;
    height: 64px;
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #000000 !important;
}
table td{
    padding-bottom: 40px !important;
}
table td i{
    font-size: 32px;
}

.get-in-touch-form .col-md-6 label{
    font-size: 12px;
}
.get-in-touch-form .col-md-6 input::placeholder{
    font-size: 15px;
}
.get-in-touch-form .col-md-6{
    margin-bottom: 40px !important;
}

.form-box{
    width: 657px;
    padding: 48px;
    box-shadow: 20px 20px 50px 0px #0000000F;
    border-radius: 10px;
}
textarea{
    height: 248px;
}

.social-links{
    margin-top: 60px;
    margin-left: 0px !important;
}
.social-links i{
    color: #000000;
    font-size: 15px;
    margin-right: 18px !important;
}
/* get in touch end */

/* footer */
.footer{
    background-color: #F2F2F2;
}
.footer .container{
    padding: 98px 0px;
}
.footer .footer-nav-logo{
    width: 155px;
    height: 50px;
    margin-bottom: 30px;
}
.footer .about{
    margin-bottom: 40px;
}
.footer .footer-heading{
    font-family: 'Crucial' !important;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    margin-bottom: 24px;
}
@media only screen and (min-width: 500px) and (max-width: 995px){
    .footer .link-section{
        padding-left: inherit !important;
    }
    .footer .contact-section {
        padding-left: inherit !important;
    }
    .social-links {
        padding-left: 8px !important;
    }
}
.footer .link-section{
    padding-left: 130px;
    justify-content: center;
    font-family: 'Crucial' !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.footer .contact-section{ 
    justify-content: center;
    font-family: 'Crucial' !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.footer ul li{
    margin-bottom: 17px;
}
.footer ul li a{
    text-decoration: none;
    color: #000000;
}
.footer-gallery img{
    height: 180px;
    width: 130px;
    border-radius: 0px;
}
.footer-gallery .gimg1{
    float: left;
}
.footer-gallery .gimg2{
    margin-left: -75px;
    margin-top: 58px;
}
/* footer */

/* footer nav */
.footer-nav{
    font-family: 'Crucial' !important;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    
    padding: 9px 0px;
    gap: 8px; 
    height: 32px;
    background: #380F28;
}
.footer-nav a{
    font-family: 'Crucial' !important;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 30px;
}
/* footer nav */

.form-control:focus{
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid #FF007D !important;
}

/* section 1 */
.section1{
    width: 100%;
    height: 800px;
    left: 0px; 
    background-color: #380F28;
    background-image: url(images/frame.png);
    background-repeat: no-repeat;
    background-position-x: right;
    overflow: hidden;
}

.section1 .headings1{
    width: 562px;
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 63px !important;
}
.section1-content {
    height: 800px;
}

.start-selling-link{
    color: #F2F2F2;
    text-decoration: none;
    padding: 15px 40px !important;

    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%);
    border: 1px solid;
    border-image: linear-gradient(to right, #FF007D, #B627DC) 1 !important;
    margin-right: 50px;
}
.start-selling-link:hover{
    color: #F2F2F2;
    background: linear-gradient(90deg, #B627DC 0%, #FF007D 100%);
    border: 1px solid;
    border-image: linear-gradient(to right, #B627DC, #FF007D) 1 !important;
}

.total-artist{
    margin-top: 60px !important;
}
.total-artist img{
    margin-right: -15px !important;
}
.total-artist small{
    color: white;
    font-size: 11px;
    margin-left: 25px !important;
}

.art-demo{
    height: 351px;
    width: 231px;
    margin-bottom: 26px !important;
}
.art-demo-container{
    margin-top: -70px;
}
.second-col{
    margin-top: 95px;
}
/* section 1 */

/* section 2 */
.section2 .section2-container-1{
    margin: 50px auto !important;
}
@media only screen and (min-width: 995px) and (max-width: 2400px) {
    .section2 .section2-container-1{
        margin: 96px auto !important;
    }
    .section2 .col-md-4 {
        margin-bottom: auto !important;
    }
}
.section2 .section2-container-1 img{
    width: 295px;
    height: 362px;
    left: 36px;
    top: 39px;

    box-shadow: inset 0px 0px 0px 3px #000000, inset 0px 0px 0px 15px #FFFFFF;
    filter: drop-shadow(-10px 10px 30px rgba(0, 0, 0, 0.1));
}
.section2 .section2-container-1 .col-md-4{
    display: flex;
    justify-content: center;
    width: 400px;
    height: auto;
    padding: 50px;
    margin-bottom: 50px;
}
.section2 .section2-container-1 .col-md-4:nth-child(1){
    background: #6DC700 !important;
}
.section2 .section2-container-1 .col-md-4:nth-child(2){
    background: #FF6DC5 !important;
}
.section2 .section2-container-1 .col-md-4:nth-child(3){
    background: #4A00C7 !important;
}
.section2-container-2 h2, .section2-container-3 h2 {
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 64px;
}
.section2-container-2 img{
    height: 442px;
    margin-bottom: 24px;

    box-shadow: inset 0px 0px 0px 3px #000000, inset 0px 0px 0px 15px #FFFFFF;
    filter: drop-shadow(-10px 10px 30px rgba(0, 0, 0, 0.1));
}
.section2-container-2 .col-md-4{
    overflow: hidden;
    width: 400px;
    height: auto;
}

.section2-container-2 .col-md-4 h3{
    height: 64px !important;
}
.section2-container-2 .col-md-4 p{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 24px;

    margin: 24px auto !important;
}
.section2-container-2 small {
    width: 140px;
}
.section2-container-2 small:hover {
    text-decoration: underline;
}
.section2-container-2 a {
    text-decoration: none;
    color: #000000;

    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.buy-now{
    margin-bottom: 66px;
}
/* section 2 */

/* section 3 */
.section2-container-3{
    margin-bottom: 96px;
}
.section2-container-3 img{
    width: 306px;
    height: 306px;
    background: url(.png);
    border: 10px solid #FFFFFF;
    filter: drop-shadow(-5px 5px 30px rgba(0, 0, 0, 0.1));
    border-radius: 30px;
    margin-bottom: 24px;
}
.section2-container-3 p{
    text-align: center;
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
}
.cta-section{
    margin-bottom: 96px;
}
.cta-section{
    height: 449px;
    background-image: url(images/CTA.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;

    filter: drop-shadow(-10px 10px 50px #0000001a);
    border-radius: 20px;
}
.cta-section h1{
    text-align: center;
    margin-bottom: 48px;
}
.cta-section p{
    color: white !important;
}
@media only screen and (min-width: 995px) and (max-width: 2400px) {
    .cta-section .row{
        margin-left: 96px;
    }
    .cta-section h1{
        text-align: left;
    }
    .cta-section p{
        color: #000000 !important;
    }
}
/* section 3 */

/* section 4 */
.blog-site{
    margin-bottom: 96px;
}
.blog-site h1{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 64px !important;
}

.blog-site .author{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-top: 16px !important;
}
.blog-site .title{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
    margin-top: 16px !important;
}

.blog-site .description{
    text-align: justify;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px !important;
}
/* section 4 */

/* paintings */
.search-breadcrumb{
    margin-bottom: 124px !important;
}
.search-breadcrumb .breadcrumb{
    background-image: url(images/search-breadcrumb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin: 0px auto !important;
}
.search-breadcrumb .breadcrumb h1{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px; 

    margin: 115px auto !important;
    text-align: center !important;
}
.search-breadcrumb .breadcrumb .input-group button{
    border-radius: 20px;
    background-color: white;
}
.search-breadcrumb .breadcrumb .form-control{
    border-right: 0px !important;
}
.search-breadcrumb .breadcrumb .form-control:focus button{
        transition: 0.3s ease-in-out;
        border-bottom: 2px solid #FF007D !important;
}
.search-breadcrumb .breadcrumb .input-group{
    height: 56px;
    width: 450px;
    background: #FFFFFF;
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.17);
    border-radius: 20px;
    margin-top: -25px;
}
.search-breadcrumb .breadcrumb input{
    border-radius: 20px;
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    padding-left: 30px !important;
}

/* paintings */

/* artist  section */
.become-an-artist{
    height: 99px;
    border: 3px solid;
    border-image: linear-gradient(to right, #FF007D, #B627DC) 1 !important;
    margin-bottom: 96px;
}
.become-an-artist div{
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.become-an-artist h1{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */


    /* G2 */

    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.become-an-artist-link{
    text-decoration: none;
    
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    
    color: white;
    padding: 15px 40px;
    gap: 10px;
    width: 252px;
    height: 49px;
    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%);
}
.become-an-artist-link:hover{
    color: white;
    background: linear-gradient(90deg, #B627DC 0%, #FF007D 100%);
}
.artist .col-md-3{
    margin-bottom: 96px;
}
/* artist  section */

/* about section */
.about-breadcumb .breadcrumb{
    height: 656px !important;
    background-image: url(images/search-breadcrumb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px auto !important;
}

.about-breadcumb p{
    width: 665px;
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}
.about-breadcumb h1{
    font-family: 'Crucial';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;

    color: #FFFFFF;
}
.quoted-by{
    margin-top: 75px;
}

.about-section1{
    margin: 96px auto !important;
}
.about-section1 .title{
    font-family: 'Source Sans Pro' !important;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px; 

    letter-spacing: 0.06em;
    text-transform: uppercase;

    background: linear-gradient(90deg, #FF007D 0%, #B627DC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 24px;
}
.about-section1 h1{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 32px;
}
.about-section1 .details{
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.about-section1 img{
    height: 100%;
}
.about-section1 .social-links i{
    font-size: 26px !important;
}
/* about section */

/* view product */
.product-section1 p{
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    
    letter-spacing: 0.05em;
    color: #000000;
    
    margin-bottom: 16px;
}
.product-section1 img{
    margin-left: 20px;
}

.product-section1 h1{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 80px;
    width: 460px;
    text-transform: capitalize;
    color: #000000;
}
.product-section1 h2{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
.product-section1 h2{
    font-family: 'Crucial' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
/* view product */